h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {	
background-image:url("BG.webp");
background-position: center;
background-size: cover;
}

#myCanvas{
border-width: 20px;
background-color: rgb(179, 220, 253);
border-style:ridge;
}

